*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7f4;
    color:#333;
}

header{
    background:#2e7d32;
    color:white;
    padding:15px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.5),
    rgba(0,0,0,.5)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h2{
    font-size:3rem;
}

.hero button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#4caf50;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.hero button:hover{
    background:#2e7d32;
}

.card-section{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    padding:60px 20px;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

#sustentabilidade{
    text-align:center;
    padding:60px 20px;
    background:#e8f5e9;
}

.contador{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:30px;
    flex-wrap:wrap;
}

.contador h3{
    font-size:2.5rem;
    color:#2e7d32;
}

#impacto{
    text-align:center;
    padding:60px 20px;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
}
